{
:app_name => "MyApp",							# The name of your app (For appledocs)
:company =>	"ChaiOne",						# Company name
:company_id => "com.chaione",					# Reverse notation bundle identifier
# You need either a workspace file or a project file
:workspace  => "MYWORKSPACE.xcworkspace",	# Your workspace file name ex. MyApp.xcworkspace
:project => "MYAPP.xcodeproj", 				# Your Project file for building ex MyApp.xcproject
:scheme      => "MY_PROJECT_SCHEME",			# Your Project scheme for building ex MyApp
:configuration => "Release"					# The build configuration to use
}